@charset "utf-8";
/* CSS Document */
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, p, ul, button {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	border:0;
	list-style: none;
	vertical-align: middle
}
img {
	border: 0;
	margin: 0;
	padding: 0
}
a{
	color: #000;
	text-decoration: none;
}
body {
	color: #000;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	text-align: left;
	font-family: "微软雅黑";
	font-size: 14px;
	font-style: normal;
	line-height: 30px;
	font-variant: normal;
	background-color: #ffffff
}
input {
	
}
input:focus {
	
}

/*边框*/
.commontab{
	width:100%;
	height:30px;
	font-size:18px;
	color:#d40000;
}
.commontab .title {
	color:#d40000;
	font-weight:bold;
	height:30px;
	width:auto;
	float:left;
	border-bottom:4px solid #d40000;
}
.commontab .title span {
	font-weight:0;
	font-size:18px;
	color:#CCC !important;
}
.commontab .border{
	height:30px;
	width:auto;
	float:left; margin-left:3px;
	display:block;
	border-bottom:4px solid #4a4849;
}

.common_box{

}
.common_box .top {
	width:385px;
	height:100px;
	padding:0 !important;
	background: none !important;
	margin-top:10px;
	
}
.common_box .top img {
	float:left;
	position:relative;
}
.common_box .top .title {
	width:auto;
	margin-top:10px;
	margin-left:5px;
	height:24px;
	display:block;
	float:left;
}
.common_box .top .intro {
	width:255px;
	height:24px;
	margin-left:5px;
	display:block;
	float:left;
}
.common_box .top .intro_bottom {
	width:auto;
	height:auto;
	display:block;
	text-align:left;
	float:left;
	margin-top:50px;
	vertical-align:bottom;
	font-weight:bold;
}
.common_box .top .intro .in {
	width:auto;
	height:24px;
	margin-left:5px;
	display:block;
	float:right;
	color:#e70304;
	cursor:pointer;
}
.common_box li {
    font-size: 12px;
    color: #000;
    padding: 0 0 0 3%;
    width: 97%;
    height: auto;
	line-height:24px;
	display:inline-block;
    background: url(../images/li_bg.gif) no-repeat 2px 12px;
}
.common_box li span{
    width: 78%;
    height: auto;
	display:block;
	float:left;
}
.common_box li .into{
    width:20%;
    height: auto;
	display:block;
	padding-right:5px;
	color:#e70304;
	text-align:right !important;
	float:right;
}






#container{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
	margin-bottom:10px;
	margin-top:5px;
	background:#FFF;
}
#container .container{
	width:965px;
	margin:0 auto;
	height:auto;
}
.red{ color:#F00 !important;}
.clearboth{ clear:both;}
.blockbox{ display:block; width:965px; height:1px;  clear:both;}
/*同步广告*/
#headerbanner{
	width:100%;
	height:auto;
}
/*顶部*/
#headertop{
	margin:0;
	padding:0;
	width:100%;
	height:46px;
	border-bottom:2px solid #d9d5d5;
}
#headertop .top{
	margin:0 auto;
	width:965px;
	height:46px;
	display:block;
}
#headertop .top .left{
	float:left;
	height:46px;
	display:block;
	line-height:46px;
}
#headertop .top .left a{
	color:#000;
}
#headertop .top .left a:hover{
	color:#e70304;
	text-decoration:underline;
}
#headertop .top .right{
	float:right;
	height:46px;
}
#headertop .top .right img{
	margin-top:10px;
	float:left;
	padding-left:2px;
	
}
#headertop .top .right span{
	float:left;
	font-weight:bold;
	line-height:46px;
	
}
#headertop .top .right .app{
	float:left;
	color:#000;
	padding-left:5px;
	line-height:46px;
}
/*头部*/
#header{
	margin:0;
	padding:0;
	width:100%;
	min-height:112px;
	height:auto;
	z-index:1;
}
.header{
	margin:0 auto;
	width:965px;
	min-height:112px;
	height:auto;
	display:block;
	border-bottom:3px solid #e2181b;
}

.header .logo{
	margin:26px 0 0 0;
	background: url(../images/index_logo.png)  no-repeat;
	float:left;
	height:82px;
	width:248px;
	display:block;
}
.header .border{
	margin:34px 15px 0 15px;
	background: url(../images/index_border.gif) no-repeat;
	float:left;
	width:2px;
	height:68px;
	display:block;
}
.header .textbox{
	margin-top:45px;
	width:680px;
	height:28px;
	display:block;
	float:left;
}
.header .intro{
	width:158px;
	display:block;
	float:left;
	
}
.header .intro span{
	font-size:18px; 
	color:#000;
}
.header .intro .phone{
	width:18px;
	height:18px;
	display:block;
	margin:5px 10px 0 5px;
	background: url(../images/intro_phone.png) no-repeat;
	float:left;
}
.header .intro .qq{
	width:18px;
	height:18px;
	margin:5px 10px 0 15px;
	display:block;
	background: url(../images/intro_qq.png) no-repeat;
	float:left;
}
.header .school{
	width:680px;
	height:auto !important;
	vertical-align: bottom;
	display:inline-block;
}
.header .school span{
	vertical-align: bottom;
	
	cursor:pointer;
}
.header .school span:hover{
	color:#e70304;
	text-decoration:underline;
}


.header .school .icon_school{
	width:26px;
	height:15px;
	float:left;
	display:block;
	margin:8px 10px 0 5px;
	background: url(../images/school.png) no-repeat;
}
.header .school a{
	padding:0 3px;
	font-weight:600;
}
.header .second_title{
	width:356px;
	height:auto;
	display:block;
	color:#e70304;
	border-radius:5px;
	float:left;
}

.header .serach{
	width:356px;
	height:28px;
	display:block;
	border:1px solid #c4c2c3;
	border-radius:5px;
	float:left;
}
.header .serach .serachtext {
	width:218px;
	height:26px;
	display:block;
	border-radius:5px;
	border:0;
	float:right;
	margin:1px 2px 0 0;
}
.header .serach .serachbtn {
	width:21px;
	height:21px;
	display:block;
	background: url(../images/serach_input.png) no-repeat center center;
	border:0;
	float:right;
	margin:4px 2px 0 0;
}



/*头部选项框*/
select#selectPointOfInterest
{
   width                    : 104px;
   height                   : 26px;
   line-height              : 26px;
   padding-right            : 8px;
   text-indent              : 4px;
   text-align               : left;
   vertical-align           : middle;
   border                   : 0;
   -webkit-appearance       : none;
   -moz-appearance          : none;
   appearance               : none;
   font-family              : Arial,  Calibri, Tahoma, Verdana;
   font-size                : 12px;
   font-weight              : 500;
   color                    : #666;
   cursor                   : pointer;
   outline                  : none;
   margin					:1px 0 0 2px;
}
select#selectPointOfInterest option
{
	padding             : 4px 10px 4px 10px;
	font-size           : 12px;
	font-weight         : normal;
}
select#selectPointOfInterest option[selected]{ }
select#selectPointOfInterest option:nth-child(even) { }
select#selectPointOfInterest:hover {}
select#selectPointOfInterest:focus {}
label#lblSelect{ position: relative; display: inline-block;}
label#lblSelect::after
{
	content                 : "";
	position                : absolute;
	top                     : 0;
	right                   : 0;
	bottom                  : 0;
	width                   : 21px;
	line-height             : 21px;
	vertical-align          : middle;
	text-align              : center;
	background              : url(../images/serach_select.png) no-repeat right;
	color                   : #fefefe;
   -moz-border-radius       : 0 6px 6px 0;
   -webkit-border-radius    : 0 6px 6px 0;
	border-radius           : 0 6px 6px 0;
	pointer-events          : none;
}


/*导航*/
#nav{margin: 2px auto 0 auto;width:965px;height:41px;background:url(../images/nav.jpg) repeat-x;}
#nav a{color:#FFF;text-align:center;width:87px;height:41px;line-height:41px;display:block;float:left;}
#nav a:hover{background:#FFF;color:#000;}

#navcontent{margin: 0 auto 0 auto;width:965px;}
/*小*/
.comnav{ width:670px; height:160px; border:1px solid #e70304; display:block; margin-top:2px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.comnav .bannerbox{ width:190px; height:160px;  display:inline-block; float:right; margin-right:20px; }
.comnav .bannerbox img{ display:block; float:left; margin:5px 0;}
.comnav .con { width:430px; height:160px; margin-left:20px;   color:#727272; display:block; float:left; }
.comnav .con a{ padding:0 2px; color:#727272; }
.comnav .con a:hover{ color:#e70304; text-decoration:underline;}
.comnav .con .one{ color:#2f2f2f; }
.comnav .con .more{ width:100%; text-align:right; display:block; float:right;}

/*大*/
.comnavbig{ width:963px; height:160px; border:1px solid #e70304; display:block; margin-top:2px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.comnavbig ul{ margin-left:20px; margin-top:9px; width:943px; height:160px; }
.comnavbig ul li{ width:121px; height:144px; display:block; float:left; margin-right:10px; } 
.comnavbig ul li .gun{ width:121px; text-align:center; }
.comnavbig ul li .gun a{ padding:0 2px; }


#footer{margin:0;padding:0;width:100%;height:92px;}
.footer_border{border-top:2px solid #dcdcdc;}
.footer_border{border-top:2px solid #dcdcdc;}
.footer{margin:0 auto;width:965px;height:92px;}
.footer .link{margin:40px 0 70px 40px;width:960px;text-align: left;}
.footer .ft_nav{margin-top:14px;clear: both;text-align: center;}
.footer .copyright{clear: both;text-align: center;}
.footer a{color:#000;font-size:12px;}

/*标题*/
.common_title {background:url(../images/bowtwo_nav.gif) no-repeat left center;font-weight:bold;padding-left:10px; display:block;color:#2f2f2f;width:98%;font-size:18px;white-space:nowrap; overflow:hidden; line-height:40px; text-overflow:ellipsis; border-bottom:1px dashed #e6e4e4; height:40px;}


.common_titleone {width:100%;height:30px;font-size:18px;color:#d40000;}
.common_titleone  .text{color:#d40000;width:78px;font-weight:bold;height:30px;float:left;border-bottom:4px solid #d40000;}
.common_titleone  .border{width:875px;height:30px;margin-left:3px;float:left;border-bottom:4px solid #4a4849;}

/*开课通知*/
.common_notice{width:100%;}
.common_notice .notice{width:100%;}
.common_notice .notice li{ padding-left:20px; font-size:14px; line-height:32px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.notice_1{background:url(../images/notice_1.png) no-repeat left center;}
.notice_2{background:url(../images/notice_2.png) no-repeat left center;}
.notice_3{background:url(../images/notice_3.png) no-repeat left center;}
.notice_4{background:url(../images/notice_4.png) no-repeat left center;}
.notice_5{background:url(../images/notice_5.png) no-repeat left center;}
/*考试时间轴*/
.common_examtime{width:100%; height:auto; display:inline-block;}
.common_examtime .top{width:96%;height:auto;float:left;border-bottom:1px dashed #bebebe; margin: 20px 2% 10px 2%;}
.common_examtime .top a:hover{color:#d40000;}
.common_examtime .top span{padding:0 5px; color:#CCC;}
.common_examtime .bottom{width:96%; height:auto; float:left; font-size:14px; margin: 0 2%;font-weight:bold; color:#010000;}
.common_examtime .bottom .tips{width:50%;  float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_examtime .bottom a{ width:60%; display:block; float:left;  text-align:left; }
.common_examtime .bottom span{ width:38%; display:block; float:left;}
.common_examtime .bottom a:hover{color:#d40000;}
/*历年真题*/
.commonuser{ width:100%; display:inline-block;}
.commonuser .title{ background:url(../images/actril_bg_01.png) no-repeat bottom; width:102px; height:35px; display:block; text-align:center; float:left; color:#bcbbbb; font-size:16px;  font-weight:bold;}
.commonuser .title:hover{ background:url(../images/actril_bg.jpg) no-repeat bottom; width:102px; height:35px; color:#e70304; }
.commonuser .span{ margin-right:4px; }
.commonuser .active{ color:#e70304 !important; background:url(../images/actril_bg.jpg) no-repeat bottom !important; width:102px; height:35px; }
.common_big{ margin-bottom:20px; width:100%; display:inline-block;}
.common_big .content { width:80%; margin: 20px auto 0 auto;}
.common_big .content .b{ width:50%; float:left; height: auto; height:35px; margin: 5px auto 5px auto; }
.common_big .content a{ background:#e6e6e6; display:block; text-align:center; width:105px; height:33px; line-height:33px; margin:0 auto;}

.common_pricture{ width:100%; margin:0px 0 20px 0; }
.common_pricture .nav{ width:90%; padding-left:10px; margin-top:10px; display:block;  font-size:12px; font-weight:bold
; }
.common_pricture  span { padding:0 5px; width:auto; float:left; display:block; line-height:24px; color:#999;}
.common_pricture  .nav a{ width:auto; display:block; float:left; height:24px; line-height:24px; color:#adadad;  }
.common_pricture  .nav a:hover{  color:#e70304; }
.common_pricture  .nav .active{ color:#e70304;}
.common_pricture  ul{ margin:0 0 0 10px; display:inline-block; border:1px solid #FFF;}
.common_pricture  ul li{ width:48%; float:left; margin-right:2px; height:119px: }
.common_pricture  ul li .banner{width:100%;height:119px:margin: 0 auto;display:block;}
.common_pricture  ul li .icon{width:auto;float:left;height:40px !important;display:block;}
.common_pricture  ul li .mon{width:auto;height:18px;line-height:18px;font-size:12px;text-align:left;display:block;text-indent:1em;
white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_pricture ul li .con{color:#999;}


.common_server{position:relative;height:220px;}
.common_server .server{position:absolute;left:20px;width:100%;height:auto;margin-top:20px;display:inline-block;}
.common_server .server li{width:58px;padding:5px 0px;margin:3px 3px;height:58px;float:left;}
.common_server .server p{ font-size:12px; text-align:center;}
.common_server .server a:hover{ color:#e70304;}
.common_server .pre{position:absolute;left:0;background:url(../images/pre.gif) no-repeat center center;width:18px;height:165px;}
.common_server .next{position:absolute;right:0;background:url(../images/next.gif) no-repeat center center;
width:18px;height:165px;}

.common_reader{ width:100%; margin:20px 0;}
.common_reader .title{background:url(../images/bowtwo_nav.gif) no-repeat left center;font-weight:bold;padding-left:10px; display:block;color:#2f2f2f;width:98%;font-size:18px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_reader ul {  margin:10px 0 0 5px; }
.common_reader ul a:hover{ color:#e70304; }
.common_reader ul li{ background:url(../images/reader_libg.png) no-repeat left center; padding-left:10px; font-size:12px; }

.common_lively{ width:100%; margin:20px 0;}
.common_lively .title{background:url(../images/bowtwo_nav.gif) no-repeat left center;font-weight:bold;padding-left:10px; display:block;color:#2f2f2f;width:98%;font-size:18px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_lively ul { width:96%; margin:20px 0 20px 4%;height:auto; display:inline-block; }
.common_lively ul a:hover{ color:#e70304; }
.common_lively ul li{ width:48%; margin-right:1%; margin-bottom:15px; float:left; line-height:12px; font-size:12px; height:33px;}
.common_lively ul li img{ display:block; float:left; width:33px;}

.common_banner{ position:relative;}
.common_banner li{ position:absolute; top:0;}

.common_department{ width:100%; }
.common_department a{ width:100px; height:24px; margin-left:10px; margin-right:2px; font-weight:600; }
.common_department .active{ color:#e70304;}

.common_ultag{ width:100%; margin:10px 0 5px 0;}
.common_ultag a{ width:20%; color:#adadad; font-size:16px; }
.common_ultag span{ padding:0 3px;}
.common_ultag a:hover{ text-decoration:none;}

.common_law{}
.common_law li{ background:url(../images/li_bg.gif) no-repeat left center; padding-left:10px; font-size:12px; }
