@charset "utf-8";
/* CSS Document */

.common_arrange{ width:100%; margin:20px 0;}
.common_lively .title{background:url(../images/bowtwo_nav.gif) no-repeat left center;font-weight:bold;padding-left:10px; display:block;color:#2f2f2f;width:98%;font-size:18px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_lively ul { width:96%; margin:20px 0 20px 4%;height:auto; display:inline-block; }
.common_lively ul a:hover{ color:#e70304; }
.common_lively ul li{ width:48%; margin-right:1%; margin-bottom:15px; float:left; line-height:12px; font-size:12px; height:33px;}
.common_lively ul li img{ display:block; float:left; width:33px;}

#nav a{width:107px;}

/*首页second_boxtwo*/
.second_boxtwo{width:956px;height:260px;margin-top:15px;display:inline-block;}
.second_boxtwo a{color:#000;}
.second_boxtwo .left{float:left;display:block;width:286px;height:210px;margin-left:15px;}

.second_boxtwo .title .into{ float:right; font-size:14px; color:#969595;}
.second_boxtwo .body{ background:url(../images/second_top.png) no-repeat; width:286px; height:31px; padding-left:20px;}
.second_boxtwo .body .con{margin-left:5px;color:#5f5f5f;width:auto;font-size:15px;}
.second_boxtwo .body .day{margin: 0 2px;padding:0 1px;width:14px;height:22px;background:#f33e40;color:#FFF;}
.second_boxtwo .left .top{width:286px;height:76px;float:left;  text-align:center; }
.second_boxtwo .left .top a{ width:77px; height:26px; line-height:26px;  margin:6px 8px 6px 8px ; font-size:14px; color:#FFF; background:#f33e40; float:left; display:block; text-align:center; border-radius:9px;}
.second_boxtwo .left .top a:hover{color:#d40000;}
.second_boxtwo .left .top span{padding:0 10px;}
.second_boxtwo .left .bottom{width:286px; margin:0 auto; height:auto;float:left;font-size:12px;font-weight:bold; display:inline-block;}
.second_boxtwo .left .bottom .tips{width:47%;float:left; margin-left:3%; line-height:24px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.second_boxtwo .left .bottom span{padding:0 0 0 5px;}
.second_boxtwo .left .bottom a:hover{color:#d40000;}

.second_boxtwo .middle {width:403px;height:238px;display:block; float:left; margin-left:14px;position:relative}


.second_boxtwo .middle .server li{float:left;}
.second_boxtwo .middle .pre{
	position:absolute;
	background:url(../images/pre.gif) no-repeat center center;
	width:18px;
	height:156px;
}
.second_boxtwo .middle .next{position:absolute;right:0;background:url(../images/next.gif) no-repeat center center;width:18px;height:156px;}
.second_boxtwo .right {width:207px;height:auto;float:left;margin-left:10px;}
.second_boxtwo .right .notice{width:207px;display:inline-block;}
.second_boxtwo .right .notice li{width:100%;height:30px;line-height:24px;padding-left:8px;float:left;font-size:14px;white-space:nowrap;background:url(../images/li_bg.gif) no-repeat left center;overflow:hidden; text-overflow:ellipsis;}
.second_boxtwo .right .notice li a:hover{color:#e70304;text-decoration:underline;}

.new_into {}
.new_into {position:absolute;float:left;z-index:10;display:block;width:404px;height:30px;background: #000; opacity: 0.4; margin: 0; z-index: 1; filter: alpha(opacity=40);top:208px;}
.new_into a{color:#ffffff;;opacity: 1; margin: 0; z-index: 1; filter: alpha(opacity=100);margin-left:17px;display:block}
.actice a{display:block}
/*ul.mouse_down{position:absolute;top:208px;float:right;right:0px;list-style:disc;color:white;}
.mouse_down li{float:left;margin-right:20px;;font-size:30px;background:url(../images/disc01.png);width:30px;height:auto;}*/
.mouse_down{position:absolute;top:208px;float:right;right:0px;list-style:disc;color:white;}
.mouse_down a{margin-right:5px;background:url(../images/disc01.png);width:10px;height:40px;}
/*招录信息*/
.second_boxthree {width:956px;height:auto; margin-bottom:20px;}
.second_boxthree .left{width:470px;height:auto;float:left;display:block;}
.second_boxthree ul li{ background:url(../images/li_bg.gif) no-repeat left center; padding-left:12px; }
.second_boxthree ul li .tel{ margin-right:10px;}
.second_boxthree ul li .date{ float:right;}
.second_boxthree .rightbox{float:right;width:460px;height:auto;display:block;	}

/*专项考题*/
.second_boxfour{width:956px;height:auto; margin-bottom:20px; margin-top:10px;}
.second_boxfour .box{ float:left; width:300px; margin-left:15px; margin-top:10px; height:auto; }
.second_boxfour .box ul{ width:280px; margin:10px auto 10px auto; }
.second_boxfour .box ul li{ font-size:12px; line-height:24px;}

/*历年真题*/
.second_fivebox{ width:956px;}
.second_fivebox .left{ width:450px; margin-left:15px; float:left; height:200px; }
.second_fivebox .rightbox{ width:470px; float:right;}
.second_fivebox  .margin { margin-top:10px;}
.second_fivebox dl { margin:15px 0 0 15px; width:406px; display:inline-block; height:200px;  }
.second_fivebox dd { margin:0; padding:0;   border-collapse: collapse; width:406px; height:40px; display:block;}
.second_fivebox .head { background:#e70304; height:39px; width:406px; }
.second_fivebox dd a{ display:block; float:left; text-align:center; font-size:12px;padding:0 2px;}
.second_fivebox .number { height:39px; width:406px; width:68px;  }
.second_fivebox .test { width:60px; float:left; display:block;}
.second_fivebox .headtest { width:56px; float:left; display:block; text-align:left; color:#FFF; font-size:14px; line-height:38px;}
.second_fivebox .headtest:hover{ text-decoration:none;}

/*左部滚动条*/
.scrolldiv{ width:605px; height:800px; margin-left:5px; margin-bottom:20px;  overflow-y:scroll; }

.common_buybox {position:relative;margin:10px 5px 0 0;width:460px;height:200px;float:left;display:block;}
.common_buybox .header1{position:absolute; top:0;width:460px;line-height:40px; height:39px; border-bottom:1px solid #a9a9a9;display:inline-block;}
.common_buybox .header1 a{width:100px;height:40px;display:block;font-weight:bold;text-align:center;float:left;}
.common_buybox .header1 a:hover{width:100px; color:#e70304; font-weight:bold; background:url(../images/tag.png) no-repeat bottom center;height:40px;display:block;text-decoration:none;}
.common_buybox .content{position:absolute;top:45px;width:310px;height:210px;display:block;}
.common_buybox .content{position:absolute;top:45px;width:310px;height:210px;display:block;}
.common_buybox .content li{font-size:12px;background:url(../images/li_bg.gif) no-repeat left center; padding-left:12px;}
.common_buybox .content li a{color:#000;cursor:pointer;}
.common_buybox .content li a:hover{color:#e70304;text-decoration:underline;}

.common_thead { border-bottom:2px solid #333; height:30px; margin-top:10px; width:100%; color:#e70304;}
.common_table{ width:100%; border:0;padding:0; margin:0; border-right:1px #CCC solid;}
.common_table .bg{  background:#f7f7f7;}
.common_table .bg .left{  background:#f7f7f7; text-align:left; padding-left:10px;}
.common_table tr td{ text-align:center; font-size:12px; line-height:24px; border-left:1px #CCC solid;  border-bottom:1px #CCC solid;padding:0; margin:0;}
.common_table th{ text-align:center; font-size:12px; background:#f7f7f7; border-left:1px solid #CCC; border-bottom:1px #CCC solid;}
.common_table .shop{ text-align:center; color:#FFF; display:block; background:#d70000; width:30px; margin:0 auto; border-radius:3px; line-height:18px; height:18px;}

/*图书*/
.common_book {margin-left:15px;width:100%;height:254px;display:block; margin-top:20px;}
.common_book li{font-size:12px; color:#000;width:148px;height:254px;display:block;margin-right:5px;float:left;}
.common_book li .bookimg{width:103px;height:140px;margin:0 auto;display:block;	}
.common_book  li .bookname{width:148px;padding:0 2px;height:40px;text-align:center;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_book li  .bookprice{width:148px;padding:0 2px;height:40px;text-align:center;color:#e70304;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.common_book li .bookshop{height:30px;width:50px;margin:0 0 0 35px;text-align:center;line-height:30px;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;color:#FFF;font-size:12px;display:block;background:#e1261c;}

/*左栏*/
.second_left{width:615px;height:auto;display:block; float:left;}
.second_left .nav{ background:url(../images/articl.jpg) repeat-x; height:29px; line-height:29px; padding-left:10px; color:#FFF;}
.second_right{width:314px;height:auto;display:block; float:right; border:1px solid #dadcdd; padding: 0 14px;}
.second_right .nav{width:342px;  height:29px; }

















